<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Issue Tracker Application</h1>
    </header>
    
    <div class="container">
        <button onclick="window.location.href='/predict'">Go to Predict Page</button>
        <button onclick="window.location.href='/correct'">Go to Correct Page</button>
    </div>
</body>
</html>
